@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

header {
  background-color: black;
}

main {
  background-color: black;
}

section {
  margin-left: 50px;
  margin-bottom: 40px;
}

div > header > img {
  height: 100px;
  width: 100px;
  margin-left: 50px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

div > main > section > div {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  scrollbar-width: none;
}

div > main > section > div > img {
  width: 220px;
  height: 123.86px;
}
